@import "fonts";
@import "reset";
@import "style_general";

.anime {
  color: black;
  text-shadow: 0 0 1px black;
  font-size: 120px;
  font-weight: 900;
  transition: color 2s
}

.redLigth {
  color: red;
}