// ↓↓↓ modules: info-tape (start) ↓↓↓

//- style
  include info-tape.css

#info-tape.info-tape
  .info-tape__name Баланс :
  .info-tape__value 123456
  .info-tape__divider |
  .info-tape__name Стедства :
  .info-tape__value 123456
  .info-tape__divider |
  .info-tape__name Маржа :
  .info-tape__value 123456
  .info-tape__divider |
  .info-tape__name Свободная маржа :
  .info-tape__value 123456
  .info-tape__divider |
  .info-tape__name Уровень :
  .info-tape__value 123456

//- script
  include ../minjs/info-tape/info-tape.js

// ↑↑↑ modules: info-tape (end) ↑↑↑