doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content="zzz")

    title TEST
    //- link(rel='icon', href='assets/img/logo.png')

    link(rel="stylesheet" type="text/css" href="assets/css/index.css")
    script(srs="assets/test-library.js")
    script(defer src="assets/js/index.js")
  body

    div(style='border: 3px dotted red; margin: 50px; padding: 100px; height: 300px')
      p.anime trololo