// @font-face {font-family: fa;   src: url(../fonts/fa-solid-900.ttf);}

@font-face {font-family: tb;  src: url(../fonts/Tahoma_Bold.ttf);}
@font-face {font-family: tr;  src: url(../fonts/Tahoma_Regular.ttf);}