@font-face {
  font-family: ab;
  src: url(../fonts/ArialBold.ttf);
}

@font-face {
  font-family: ar;
  src: url(../fonts/ArialRegular.ttf);
}

@font-face {
  font-family: c;
  src: url(../fonts/consola.ttf);
}

@font-face {
  font-family: fb;
  src: url(../fonts/FregatBold.otf);
}

@font-face {
  font-family: fbi;
  src: url(../fonts/FregatBoldItalic.otf);
}

@font-face {
  font-family: fi;
  src: url(../fonts/FregatItalic.otf);
}

@font-face {
  font-family: fr;
  src: url(../fonts/FregatRegular.otf);
}

@font-face {
  font-family: mpr;
  src: url(../fonts/MyriadProRegular.ttf);
}

@font-face {
  font-family: rcl;
  src: url(../fonts/RobotoCondensedLight.ttf);
}

@font-face {
  font-family: new;
  src: url(../fonts/new.ttf);
}

@font-face {
  font-family: futura;
  src: url(../fonts/FuturaPT-Book.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  width: 140px;
  height: 140px;
  display: block;
}

input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  background-image: url("../img/checkbox-sprite.png");
  background-position: -8px -35px;
  -webkit-background-size: 109px 109px;
          background-size: 109px 109px;
  background-repeat: no-repeat;
}

input[type='checkbox']:checked + label:before {
  background-position: -61px -35px;
}
