.scrollTable-table-wrapper
  table.scrollTable
    thead
      tr
        th название 1
        th название 2
        th название 3
        th название 4
        th название 5
        th название 6
        th название 7
        th название 8
        th название 9
        th название 10
        th название 11
        th название 12
    tbody
      tr
        td ячейка 111
        td ячейка 2
        td ячейка 3
        td ячейка 4
        td ячейка 5
        td ячейка 6
        td ячейка 7
        td ячейка 8
        td ячейка 9
        td ячейка 10
        td ячейка 11
        td ячейка 12