doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content="zzz")

    title TEST
    //- link(rel='icon', href='assets/img/logo.png')

    link(rel="stylesheet" type="text/css" href="assets/css/index.css")
    script(srs="assets/test-library.js")
    script(defer src="assets/js/index.js")
  body

    .w-table
      .w-table__header Table Of Clients
      .w-table__meta-data-wrapper
        .w-table__label filters:
        .w-table__filters-wrapper
          .w-table__filter-item
            span froud
            button.w-table__filter-close-btn
          .w-table__filter-item
            span sales
            button.w-table__filter-close-btn
          .w-table__filter-item
            span noanswer1
            button.w-table__filter-close-btn
        .w-table__label disabled columns:
        .w-table__discols-wrapper
          .w-table__discols-item
            span last note
            button.w-table__discols-close-btn
          .w-table__discols-item
            span brocker type
            button.w-table__discols-close-btn
          .w-table__discols-item
            span spec.status
            button.w-table__discols-close-btn
        .w-table__label items in DB:
        .w-table__items-amount 21674
        .w-table__label filtered items:
        .w-table__filtered-amount 163
        .w-table__label selected items:
        .w-table__selected-amount 42
      .w-table__table-wrapper(style="overflow: auto")
        table
          thead
            tr
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  input(type='checkbox' style='margin-left:10px')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  button.w-table__btn.w-table__btn_search(title='search')
                  span.w-table__th-name id
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort.w-table__btn_active(title='sort')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  button.w-table__btn.w-table__btn_search(title='search')
                  span.w-table__th-name Клиент
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name login
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Статус
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Спец. статус
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  button.w-table__btn.w-table__btn_search(title='search')
                  span.w-table__th-name Телефон
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                      button.w-table__btn.w-table__btn_sort(title='sort')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  button.w-table__btn.w-table__btn_search(title='search')
                  span.w-table__th-name Почта
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Компания (афилят)
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Брокер
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Должность брокера
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Команда брокера
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Тип платформы
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Верификация
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Страна
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Язык
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Наличие депозитов
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Баланс
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Валюта
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Активность
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Последняя активность
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Возможность торговли
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Дата регистрации
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Дата последней заметки
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Последняя заметка
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
              th.w-table__th(title="drag'n'drop")
                .w-table__th-inner
                  span.w-table__th-name Тип аккаунта
                  .w-table__btns-group
                    button.w-table__btn.w-table__btn_close(title='close')
                    button.w-table__btn.w-table__btn_sort(title='sort')
                    button.w-table__btn.w-table__btn_options(title='options')
          tbody
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
            tr
              td
                input(type='checkbox')
              td 1
              td Вася Пупкин
              td offline
              td new
              td specStatus1
              td 79061234567
              td vasja.pupkin@mail.ru
              td Site Registration
              td Alexandr Melnikov
              td sales
              td sales1
              td binary
              td без верификации
              td Российская Федерация
              td русский
              td без депозитов
              td 0
              td USD
              td активен
              td 2021.01.14
              td не доступна
              td 2021.01.06
              td 2021.01.27
              td не берет трубку
              td start
          //- tfoot
          //-   tr
          //-     td footer 1
      .w-table__pagination-wrapper
        button.w-table__page-btn(type='button') 1
        button.w-table__page-btn(type='button') 2
        button.w-table__page-btn(type='button') 3
        button.w-table__page-btn(type='button') 4
        button.w-table__page-btn(type='button') 5
        button.w-table__page-btn(type='button') 6
        button.w-table__page-btn(type='button') 7